

/* When the browser is at least 600px and above */
@media screen and (min-width: 600px) {
  #disclaimer {
    font-size: 2em;
    color: gray;
  }

  a:active {
    color: white;
  }
  
  a:visited {
    color: cyan;
  }
  #arrow-img {
    max-width: 40%;
    height: auto;
    margin: 0 auto;
    display: flex;
  }
  #disclaimer-about {
    font-size: 2em;
    color: gray;
  }
  .about-para {
    font-size: 1em;
    line-height: 2;
    margin: 1em;
    margin-left: 6em;
    max-width: 50%;
  }

  body {
    font-family: "Anonymous Pro", monospace;
    margin: 0;
    padding: 0;
    background: rgb(63,30,92);
    background: linear-gradient(90deg, rgba(63,30,92,1) 0%, rgba(31,45,92,1) 100%);
  }

  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-size: 5rem;
    margin: 1em;
  }
  header {
    background: #333;
    color: white;
    padding: 1rem;
  }

  ul {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
  }
  li {
    font-size: 3em;
    line-height: 1.8;
    margin-left: 2em;
  }

  .services-h2 {
    font-size: 3em;
    line-height: 1.8;
    margin-left: 2em;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 2em;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  p {
    margin: 2em;
    font-size: 3em;
    line-height: 2;
  }

  footer {
    background: #f1f1f1;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
  }
}

/* When the browser is at most 600px and above */
li {
  font-size: 3em;
  line-height: 1.8;
  margin-left: 2em;
}

ul li ul li {
  margin: 0 auto;
  display: flex;
  font-size: 0.5em;
  line-height: 1.8;
  margin-left: -1.75em;
}

#disclaimer {
  font-size: 2em;
  color: gray;
}

.about-para {
  font-size: 2em;
  line-height: 2;
  margin: 2em;
  max-width: 90%;
}

body {
  font-family: "Anonymous Pro", monospace;
  color: white;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
h1 {
  font-size: 5rem;
  margin: 1em;
}
header {
  background: #333;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
  margin-left: 1em;
  font-size: 2em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

p {
  margin: 2em;
  font-size: 3em;
  line-height: 2;
}

footer {
  background: #f1f1f1;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}

a:active {
  color: white;
}

a:visited {
  color: cyan;
}